{
    auto_https off
}

example.com {
    reverse_proxy http://172.17.0.1:9000

    redir /console /console/

    route /console* {
        uri strip_prefix /console
        reverse_proxy http://172.17.0.1:9001
    }
}


http://api.minio.psychostorage.test {
    reverse_proxy http://minio-psychostorage:9000
}

http://minio.psychostorage.test {
    reverse_proxy http://minio-psychostorage:9001
}
